<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jiumao.wechatMall.dao.OauthAccessTokenDao">
    <!-- OauthAccessToken的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_OauthAccessToken_Map" type="org.jiumao.wechatMall.entity.OauthAccessToken">
        <result column="create_time" property="createTime" />
        <result column="token_id" property="tokenId" />
        <result column="token" property="token" />
        <result column="authentication_id" property="authenticationId" />
        <result column="user_name" property="userName" />
        <result column="client_id" property="clientId" />
        <result column="authentication" property="authentication" />
        <result column="refresh_token" property="refreshToken" />
    </resultMap>

	   <!-- Assist用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
    <sql id="Assist">
        <where>
            <foreach collection="require" item="req" separator=" ">
                ${req.require} #{req.value} <if test="req.suffix != null"> ${req.suffix}</if>
            </foreach>
        </where>
    </sql>

	   <!-- updateAssist用于更新数据的使用它拓展自Assist,用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
    <sql id="updateAssist">
        <where>
            <foreach collection="assist.require" item="req" separator=" ">
                ${req.require} #{req.value} <if test="req.suffix != null"> ${req.suffix}</if>
            </foreach>
        </where>
    </sql>

    <!-- 数据库中表名为:oauth_access_token的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="oauth_access_token_Column">
        oauth_access_token.create_time as create_time
        ,oauth_access_token.token_id as token_id
        ,oauth_access_token.token as token
        ,oauth_access_token.authentication_id as authentication_id
        ,oauth_access_token.user_name as user_name
        ,oauth_access_token.client_id as client_id
        ,oauth_access_token.authentication as authentication
        ,oauth_access_token.refresh_token as refresh_token
    </sql>

    <!--获得类名为:OauthAccessToken对应的数据库表的数据总行数 -->
    <select id="getOauthAccessTokenRowCount" parameterType="org.jiumao.wechatMall.common.Assist" resultType="java.lang.Long">
        select count(*) from oauth_access_token
        <if test="require!=null"><include refid="Assist" /></if>
    </select>
    <!-- 获得类名为:OauthAccessToken对应数据库中表的数据集合 -->
    <select id="selectOauthAccessToken" parameterType="org.jiumao.wechatMall.common.Assist"  resultMap="result_OauthAccessToken_Map">
        select  <if test="distinct !=null">${distinct}</if>
        <choose>
            <when test="resultColumn!=null">${resultColumn}</when>
            <otherwise>
        <include refid="oauth_access_token_Column" /> 
            </otherwise>
        </choose>
        from oauth_access_token
        <choose>
            <when test="rowSize ==null">
                <if test="require!=null">
                    <include refid="Assist" />
                </if>
                <if test="order !=null">${order}</if>
            </when>
            <otherwise>
                inner join
                (
                SELECT null as primary_key FROM oauth_access_token
                <if test="require!=null">
                    <include refid="Assist" />
                </if>
                <if test="order !=null">${order}</if>
                <choose>
                    <when test="startRow !=null and rowSize !=null">LIMIT #{startRow},#{rowSize} </when>
                    <when test="rowSize !=null">LIMIT #{rowSize}</when>
                 </choose>
                 ) as tmp
                 on tmp.primary_key=oauth_access_token.null
            </otherwise>
        </choose>
    </select> 

    <!-- 将OauthAccessToken插入到对应数据库的表中,包括属性值为null的数据-->

    <insert id="insertOauthAccessToken" parameterType="org.jiumao.wechatMall.entity.OauthAccessToken">
        insert into oauth_access_token(create_time,token_id,token,authentication_id,user_name,client_id,authentication,refresh_token) 
        values(#{createTime},#{tokenId},#{token},#{authenticationId},#{userName},#{clientId},#{authentication},#{refreshToken})
    </insert>

    <!-- 将OauthAccessToken中属性值不为null的数据,插入到对应数据库的表中-->
    <insert id="insertNonEmptyOauthAccessToken" parameterType="org.jiumao.wechatMall.entity.OauthAccessToken">
        insert into oauth_access_token
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="tokenId != null">token_id,</if>
            <if test="token != null">token,</if>
            <if test="authenticationId != null">authentication_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="clientId != null">client_id,</if>
            <if test="authentication != null">authentication,</if>
            <if test="refreshToken != null">refresh_token,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null"> #{createTime},</if>
            <if test="tokenId != null"> #{tokenId},</if>
            <if test="token != null"> #{token},</if>
            <if test="authenticationId != null"> #{authenticationId},</if>
            <if test="userName != null"> #{userName},</if>
            <if test="clientId != null"> #{clientId},</if>
            <if test="authentication != null"> #{authentication},</if>
            <if test="refreshToken != null"> #{refreshToken},</if>
        </trim>
    </insert>

    <!-- 通过辅助工具Assist中的条件将OauthAccessToken对应的数据库表的数据删除-->
    <delete id="deleteOauthAccessToken" parameterType="org.jiumao.wechatMall.common.Assist">
        delete from oauth_access_token
        <if test="require!=null"><include refid="Assist" /></if>
    </delete>

</mapper>