<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jiumao.wechatMall.dao.OauthCodeDao">
    <!-- OauthCode的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_OauthCode_Map" type="org.jiumao.wechatMall.entity.OauthCode">
        <result column="create_time" property="createTime" />
        <result column="code" property="code" />
        <result column="authentication" property="authentication" />
    </resultMap>

	   <!-- Assist用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
    <sql id="Assist">
        <where>
            <foreach collection="require" item="req" separator=" ">
                ${req.require} #{req.value} <if test="req.suffix != null"> ${req.suffix}</if>
            </foreach>
        </where>
    </sql>

	   <!-- updateAssist用于更新数据的使用它拓展自Assist,用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
    <sql id="updateAssist">
        <where>
            <foreach collection="assist.require" item="req" separator=" ">
                ${req.require} #{req.value} <if test="req.suffix != null"> ${req.suffix}</if>
            </foreach>
        </where>
    </sql>

    <!-- 数据库中表名为:oauth_code的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="oauth_code_Column">
        oauth_code.create_time as create_time
        ,oauth_code.code as code
        ,oauth_code.authentication as authentication
    </sql>

    <!--获得类名为:OauthCode对应的数据库表的数据总行数 -->
    <select id="getOauthCodeRowCount" parameterType="org.jiumao.wechatMall.common.Assist" resultType="java.lang.Long">
        select count(*) from oauth_code
        <if test="require!=null"><include refid="Assist" /></if>
    </select>
    <!-- 获得类名为:OauthCode对应数据库中表的数据集合 -->
    <select id="selectOauthCode" parameterType="org.jiumao.wechatMall.common.Assist"  resultMap="result_OauthCode_Map">
        select  <if test="distinct !=null">${distinct}</if>
        <choose>
            <when test="resultColumn!=null">${resultColumn}</when>
            <otherwise>
        <include refid="oauth_code_Column" /> 
            </otherwise>
        </choose>
        from oauth_code
        <choose>
            <when test="rowSize ==null">
                <if test="require!=null">
                    <include refid="Assist" />
                </if>
                <if test="order !=null">${order}</if>
            </when>
            <otherwise>
                inner join
                (
                SELECT null as primary_key FROM oauth_code
                <if test="require!=null">
                    <include refid="Assist" />
                </if>
                <if test="order !=null">${order}</if>
                <choose>
                    <when test="startRow !=null and rowSize !=null">LIMIT #{startRow},#{rowSize} </when>
                    <when test="rowSize !=null">LIMIT #{rowSize}</when>
                 </choose>
                 ) as tmp
                 on tmp.primary_key=oauth_code.null
            </otherwise>
        </choose>
    </select> 

    <!-- 将OauthCode插入到对应数据库的表中,包括属性值为null的数据-->

    <insert id="insertOauthCode" parameterType="org.jiumao.wechatMall.entity.OauthCode">
        insert into oauth_code(create_time,code,authentication) 
        values(#{createTime},#{code},#{authentication})
    </insert>

    <!-- 将OauthCode中属性值不为null的数据,插入到对应数据库的表中-->
    <insert id="insertNonEmptyOauthCode" parameterType="org.jiumao.wechatMall.entity.OauthCode">
        insert into oauth_code
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="code != null">code,</if>
            <if test="authentication != null">authentication,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null"> #{createTime},</if>
            <if test="code != null"> #{code},</if>
            <if test="authentication != null"> #{authentication},</if>
        </trim>
    </insert>

    <!-- 通过辅助工具Assist中的条件将OauthCode对应的数据库表的数据删除-->
    <delete id="deleteOauthCode" parameterType="org.jiumao.wechatMall.common.Assist">
        delete from oauth_code
        <if test="require!=null"><include refid="Assist" /></if>
    </delete>

</mapper>